@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.wrapper,
.wrapper > .container,
.wrapper__content {
	display: grid;
}

.wrapper > .container {
	align-items: start;
}

.wrapper__content {
	gap: func.em(42, var.$font-size-primary);
	margin: func.em(60, var.$font-size-primary) 0
		func.em(60, var.$font-size-primary);
}

.container {
	padding: 0 1.5em;
}

@media (min-width: 48em) {
	.wrapper > .container {
		justify-items: center;
	}

	.wrapper__content {
		display: inline-grid;
		max-width: func.em(650, var.$font-size-primary);
	}
}
